<% c++ #include "nojs_root.h" %>
<% skin kennel %>
<% view html_sample_form uses content::user_configure extends html_with_session_view %>

<% template external_assets() %>
<% end template %>

<% template header() %>
<% end template %>


<% template main_area() %>
   <% include sample_list (samples) %>
<% end template %>

<% end view %>
<% end skin %>