<% c++ #include "nojs_root.h" %>
<% skin kennel %>
<% view html_with_session_ide_view uses content::nojs_root extends html_with_session_view %>

<% template external_assets() %>
<link rel="stylesheet" href="/static/css/online_demo.css"/>
<% end template %>

<% template main_area() %>
<% end template %>


<% end view %>
<% end skin %>
