<% c++ #include "nojs_root.h" %>
<% skin kennel %>
<% view html_stripe_form uses content::stripe_configure extends html_with_session_view %>

<% template external_assets() %>
<script src="/static/js/jquery_2_1_1.js"></script>
<% end template %>

<% template header() %>
<% end template %>


<% template main_area() %>
   <% include stripe_button (email, amount, api_key, login_url) %>
<% end template %>

<% end view %>
<% end skin %>