{% extends "base.html" %}

{% block header %}

<link href="/v/20171202/static/users/users.css" rel="stylesheet">

<script type="text/javascript">
  var NS = window.NS || {};
  window.NS = NS:
  NS.user_info = {{ user_info_json|safe }};
</script>

{% endblock %}


{% block content %}

<!-- content section -->

<main class="content users signup">
  <div class="text-center">
    <h1 class="h1 mb20">Welcome!</h1>
    <p>Let's start this great trip now.</p>
  </div>
  <div class="container">

    Welcome back.

    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><span id="linkSync"></span></li>
        <li class="pure-menu-item">
	  <a href="/users/github/repos/" class="pure-menu-link">Repos</a></li>
        <li class="pure-menu-item">
	  <a href="/users/logout/" class="pure-menu-link">Logout</a></li>
      </ul>
    </div>
    <div>

    <script type="text/javascript" 
	    src="/static/portal/user/sync-link.js"></script>

  </div>
</div>
</main>

{% include "_footer.html" %}


{% endblock %}

