{% extends "base.html" %}

{% block body %}


<!-- content section -->

<main class="content products">
  <section class="main-banner primary text-center">
    <h1 class="h1 mb20">Products</h1>
    <small class="subtitle">Get Stensal Smart C/C++ Compiler on a Docker<br>Or download one to install on your local environment</small>
    <a href="#" class="img-banner">
      <div class="col-xs-6">
	<div class="copy">
	  <img src="/static/img/stensal-logo.png" alt="stensal logo" class="img-logo">
	  <h2 class="h2 h2-products">Stensal Smart Compiler v0.9</h2>
	  <p>The quickest way to locate your memory related bugs</p>
	  <button href="#" class="btn btn-border btn-get hidden-xs">Get it on Docker</button>
	</div>
      </div>
      <div class="col-xs-6">
	<div class="img-device">
	  <img src="/static/img/devices.png" alt="device" class="img-responsive">
	</div>
      </div>
    </a>
  </section>
  <section class="sec text-center">
    <div class="container">
      <div class="row">
	<div class="col-md-12">
	  <h2 class="h2">Pre-built Dockers</h2>
	  <p>Popular repositories complied and built by Stansal</p>
	</div>
	<div class="col-sm-4">
	  <div class="card">
	    <div class="oral">
	      <img class="img-responsive" src="/static/img/redis.svg" alt="redis">
	    </div>
	    <h4 class="h4">Redis</h4>
	    <div class="desc">Redis is an in-memory database that persists on disk</div>
	    <div class="overlay">
	      <a href="#" class="btn btn-border btn-download w180">Download</a>
	    </div>
	  </div>
	</div>
	<div class="col-sm-4">
	  <div class="card">
	    <div class="oral">
	      <img class="img-responsive" src="/static/img/tensorflow.svg" alt="redis">
	    </div>
	    <h4 class="h4">Tensorflow</h4>
	    <div class="desc">Computation using data flow graphs for scalable machine learning</div>
	    <div class="overlay">
	      <a href="#" class="btn btn-border btn-download w180">Download</a>
	    </div>
	  </div>
	</div>
	<div class="col-sm-4">
	  <div class="card">
	    <div class="oral">
	      <img class="img-responsive" src="/static/img/bitcoin.svg" alt="redis">
	    </div>
	    <h4 class="h4">Redis</h4>
	    <div class="desc">Redis is an in-memory database that persists on disk</div>
	    <div class="overlay">
	      <a href="#" class="btn btn-border btn-download w180">Download</a>
	    </div>
	  </div>
	</div>
	<div class="col-sm-4">
	  <div class="card">
	    <div class="oral">
	      <img class="img-responsive" src="/static/img/absl_204px.png" alt="redis">
	    </div>
	    <h4 class="h4">Abseil</h4>
	    <div class="desc">Redis is an in-memory database that persists on disk</div>
	    <div class="overlay">
	      <a href="#" class="btn btn-border btn-download w180">Download</a>
	    </div>
	  </div>
	</div>
	<div class="col-sm-4">
	  <div class="card">
	    <div class="oral">
	      <img class="img-responsive" src="/static/img/openCV1.png" alt="redis">
	    </div>
	    <h4 class="h4">OpenCV</h4>
	    <div class="desc">Redis is an in-memory database that persists on disk</div>
	    <div class="overlay">
	      <a href="#" class="btn btn-border btn-download w180">Download</a>
	    </div>
	  </div>
	</div>
	<div class="col-sm-4">
	  <div class="card">
	    <div class="oral">
	      <img class="img-responsive" src="/static/img/caffeine-icon.png" alt="redis">
	    </div>
	    <h4 class="h4">Caffe</h4>
	    <div class="desc">Redis is an in-memory database that persists on disk</div>
	    <div class="overlay">
	      <a href="#" class="btn btn-border btn-download w180">Download</a>
	    </div>
	  </div>
	</div>
      </div>
  </section>
</main>

</div>

{% include "_footer.html" %}


{% endblock %}
